/* SCROLL BAR START */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffcc00;
}

/* SCROLL BAR END */

/* NAVBAR */
@media only screen and (min-width: 992px)
{
  nav{
    background-color: #0d0d0d;
     overflow: hidden;
  }
  .navbar-brand{
   margin: 0 10%;
   color:#fff;
  }
  .navbar-nav{
    position: absolute;
    right:25%;
  }
  .nav-item{
    margin:0 5%;
      color: #fff;
  }
}
@media only screen and (max-width: 992px)
{
  .navbar{
    background-color: #fff;
     overflow: hidden;
  }
  .navbar-brand{
    color: #0d0d0d;
  }
  .navbar-toggler{
    background-color: #0d0d0d;
  }
  .nav-link{
    color:#0d0d0d;
  }
}
/* NAVBAR END */
/* WLCOME SECTION START */
.welcome{
  font-family: 'Montserrat', sans-serif;
  background-color: #0d0d0d;
  color:#fff;
  text-align: center;
   border-bottom-right-radius: 40%;
   border-bottom-left-radius: 40%;
}
.btn {
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
}
.btn-outline-custom{
  border:2px solid #f5f5f5;
}
.btn-round{
  border-radius: 30px;
}
.btn:hover{
  background-color: #f5f5f5;
}
/* WELCOME SECTION END */
/* ABOUT ME START */
.about{
  font-family: 'Montserrat', sans-serif;
  background-color: #2E3135;
  color: #fbfbfb;
}
.about img{
  width: 530px;
  height: 388.63px;
  text-align: center;
  background-color: #3b3e42;
  border:4px solid grey;
  border-radius: .25rem;
  margin-left:20px;
}
.mdi{
  padding: 8px;
  margin:20px;
}
.circle{
  border-radius: 50%;
  background-color: red;
}
@media only screen and (max-width:420px)
{
  .about img{
    width: 281px;
    height: 272px;
    margin-left: 20%;
  }
  .about1 br{
    display: none;
  }
  .about2{
    display: flex;
    justify-content: center;
  }
  .about1 h4{
    margin-left: 4.9px;
  }
  .about1 p{
    margin-left: 20px;
  }
}
@media only screen and (min-width:568px) and (max-width:992px){
  .about img{
    width: 271px;
    height: 272px;
  }
  .about1 br{
    display: none;
  }
  .about2{
    display: flex;
    justify-content: center;
  }
  .col-md-12{
    margin-left: 65%;
  }
  .icons{
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width:992px) and (max-width:1024px){
  .about img{
    width: 271px;
    height: 272px;
  }
}
/* ABOUT ME END */
/* FREELANCE START */
.freelance{
  font-family: 'Montserrat', sans-serif;
  background-color: #26282b;
  color:#fbfbfb;
  text-align: center;
  padding: 3%;
}
.btn {
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
}
.btn-custom{
  background-color: #e65f78;
  border:1px solid #e65f78;
}
/* FREELANCE END */
/* PORTFOLIO START */
.portfolio{
  padding: 100px 0px;
  background-color: #2e3135;
  text-align: center;
}
.pbox {
  height: 200px;
  width: 300px;
  overflow: hidden;
}
.hidbox{
  top: 100%;
  position: relative;
  transition: all .3s ease-out;
  height: 100%;
}
.pbox:hover > .hidbox{
  top:0;
}
.panchor a{
  text-decoration: none;
}
@media only screen and (max-width:768px)
{
  .prow{
    display: flex;
    justify-content: center;
  }
}
/* PORTFOLIO END */
/* BLOGS START */
.blog{
  background-color: #26282b;
  text-align: center;
  color:#fbfbfb;
}
.blog h3{
  font-family: 'Montserrat', sans-serif;
}
.blog p{
  font-family: 'Nunito', sans-serif;
    color: #a0a0ac;
}
.card{
  height:25rem;
  background: linear-gradient(#bdc3c7,#2c3e50);
}
.card-body a:hover{
  color:#26282b;
}
/* BLOGGS END */
/* CONTACT ME */
.contact{
  text-align: center;
}
.col-xl-3{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
.col-xl-3 img{
  background-color: orange;
  border-radius: 50%;
}
/* CONTACT ME END */
/* GO TO TOP BUTTON */
#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  /* Set a background color */
  background: rgba(256, 256, 256, 0);
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
}

#myBtn img {
  border-radius: 20px;
  transform: scale(1.3);
  width: 40px;
  height: 40px;
}

#myBtn img:hover {
  box-shadow: 2px 2px 4px red;
  transition: all 1s;
}

/*END OF GO TO TOP BUTTON*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

